// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.

$link-color: darken(#A41B00, 10);
$link-color-visited: adjust-color($link-color, $hue: 190, $lightness: -4);

$header-bg: #A41B00;
$title-color: #FFF;
$subtitle-color: darken($header-bg, 15);

$nav-bg: lighten(#538CA3, 15);

$sidebar-bg: lighten(#538CA3, 40);

$footer-color: #333 !default;
$footer-bg: lighten(#538CA3, 15);

$heading-font-family: "Ubuntu", "Helvetica Neue", Arial, sans-serif;
$sans: "Ubuntu", "Helvetica Neue", Arial, sans-serif;