// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
	background: #252525;
}

body > header {
	@include background(linear-gradient(rgb(241,74,41),#A41B00));
  text-align: center;
}

body > header h1 {
  font-family: $serif;
}

body > nav {
	@include background(lighten(#538CA3, 15));
	form .search {
		@include border-radius(0);
		background-color: #FFF;
		line-height: 1.3em;
	}
}

body > footer {
	@include background(lighten(#538CA3, 15));
}

img.profile {
	margin-top: 36px;
  -webkit-filter: sepia(75%);
  -webkit-transition: -webkit-filter 1s;
}

@media only screen and (min-width: 992px) {
	img.profile {
		margin-top: 21px;
	}
}

img.profile:hover {
  -webkit-filter: sepia(0%);  
}